/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.lock
Gemfile.local

# Ruby
.ruby-version

# rspec failure tracking
.rspec_status

# IDEA
/.idea

# rails-example
/rails-rspec-example/log
/rails-rspec-example/tmp
/rails-rspec-example/db/*.sqlite3

# rails 7
/rails7/log
/rails7/tmp
/rails7/db/*.sqlite3
